body {
	background-color:  #111;
	color:  #ccc;
	font-family: sans-serif;
}

#mainColumn {
	background-color:  #333;
	width:  900px;
	margin-left:  auto;
	margin-right:  auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#titleHeading {
	font-size:  26pt;
}

a {
	color:  red;
}

#pageFooter {
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #222;
	overflow: hidden;
}

.column-float-left {
	float:  left;
}

.column-float-right {
	float: right;
}

#footerColLeft {
	width:  75px;
	padding-right: 15px;
}

#footerColRight {
	vertical-align: top;
	width:  40%;
}

#pwrByLine {
	font-size:  21pt;
}

#crtByLine {
	font-size: 11pt;
}

#dwnFromLine {
	font-size: 14pt;
}

.footerColP {
	font-size: 10pt;
	line-height: 105%;
}